/* HELPERS */

/* flex-helpers */

.display-none {
    display: none;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.start {
    justify-content: flex-start;
}

.flex.align-left {
    align-items: flex-start;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.grow {
    flex-grow: 1;
}

.flex.align-baseline {
    align-items: baseline;
}

/* List helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}