@import 'helpers.css';
@import 'basics.css';
@import '../../apps/email/assets/styles/email.css';
@import '../../apps/books/assets/styles/book.css';
@import '../../apps/notes/assets/styles/note.css';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 100px;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    color: #2196f3;
    text-align: center;
    z-index: 999;
    box-shadow: 0 0 4px 0px lightgrey, inset 0px -1px 2px 0px #58585842;
}

.logo-txt {
    color: #2196f3;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.05em;
}

.logo-img {
    width: 50px;
    filter: hue-rotate(37deg);
    position: relative;
    top: 15px
}

.logo {
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
}

header p {
    margin-top: 5px;
    color: #b9b9b9;
    letter-spacing: 0.45em;
    margin-left: 5px;
    font-size: 0.7em;
}

.main-search {
    margin-top: 30px;
}

.main-search input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 400px;
    font-size: 1em;
    margin: 10px;
    background: rgb(247, 247, 247);
}

form {
    width: 100%;
    text-align: center;
}

.note-type label {
    min-width: 100px;
}

label img {
    cursor: pointer;
}


.intro-text {
    color: grey;
    padding: 10px;
}
/* 
.note-type-icons {
    align-items: baseline;
    padding: 10px;
}

.note-type-icons * {
    margin-right: 10px;
    height: 40px;
    vertical-align: middle;
}

.note-type-icons * :checked {
    background-color: black;
}

.note-type-icons input {
    margin: 3px;
}

.note-add-text {
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 600px;
    font-size: 1.2em;
    margin: 10px;
}

.add-note-btn img {
    width: 60px;
}

.notes-page {
    width: 100%;
    margin-bottom: 50px;
}

.notes-list {
    width: 100%;
}

.pinned-others {
    margin: 20px 10px 0;
    color: rgb(180, 180, 180);
}

.notes-section:last-of-type {
    margin-bottom: 200px;
}

.note-preview {
    background-color: #fff;
    margin: 8px;
    padding: 15px;
    padding-bottom: 5px;
    width: 300px;
    border-radius: 10px;
    white-space: normal;
    box-shadow: 0 0 4px 0px lightgrey;
    position: relative;
}

.note-preview button {
    background-color: transparent;
    margin: 5px;
}

.todo-done {
    text-decoration: line-through;
}

.add-todo-input {
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: 0 0 4px 0px lightgrey;
    padding: 5px;
    margin: 8px;
}

.pin-btn {
    position: absolute;
    right: 3px;
    top: 3px;
    margin: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.404);
    padding: 8px;
}

.pinned-img {
    filter: grayscale(100%);
}

.unpinned-img, .pinned-img, .trash, .add-todo-img {
    width: 20px;
}

.note-img-preview {
    width: 100%;
} */

/* ************************/

.long-txt {
    cursor: pointer;
}

.margin {
    margin: 15px;
}