@import 'helpers.css';
@import 'basics.css';
@import '../../apps/email/assets/styles/email.css';
@import '../../apps/books/assets/styles/book.css';
@import '../../apps/notes/assets/styles/note.css';

body {
    margin: 0;
    /* background-color: lightblue; */
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    color: #2196f3;
    text-align: center;
    box-shadow: 0 0 4px 0px lightgrey;
    z-index: 999;
}
.logo-txt {
    color: #2196f3;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.05em;
}
.logo-img {
    width: 50px;
    filter: hue-rotate(37deg);
    position: relative;
    top: 15px
}
.logo {
    margin-left: 30px;
    margin-top: 10px;
}
header p {
    margin-top: 5px;
    color: #b9b9b9;
    letter-spacing: 0.45em;
    margin-left: 5px;
    font-size: 0.7em;
}

form {
    width: 100%;
    text-align: center;
}

label img {
    cursor: pointer;
}




/* ************************/

.long-txt {
    cursor: pointer;
}

.margin {
    margin: 15px;
}