@import 'helpers.css';
@import 'basics.css';
@import '../../apps/email/assets/styles/email.css';
@import '../../apps/books/assets/styles/book.css';
@import '../../apps/notes/assets/styles/note.css';
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 100px;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    color: #2196f3;
    text-align: center;
    z-index: 999;
    box-shadow: 0 0 4px 0px lightgrey, inset 0px -1px 2px 0px #58585842;
}

.logo-txt {
    color: #2196f3;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.05em;
}

.logo-img {
    width: 50px;
    filter: hue-rotate(37deg);
    position: relative;
    top: 15px
}

.logo {
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
}

header p {
    margin-top: 5px;
    color: #b9b9b9;
    letter-spacing: 0.45em;
    margin-left: 5px;
    font-size: 0.7em;
}

.main-search {
    margin-top: 30px;
}

.main-search input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 400px;
    font-size: 1em;
    margin: 10px;
    background: rgb(247, 247, 247);
}

.main-nav-bar {
    padding-top: 40px;
    padding-right: 30px;
}

.main-nav-bar li {
    margin-right: 15px;
}

form {
    width: 100%;
    text-align: center;
}

.note-type label {
    min-width: 100px;
}

label img {
    cursor: pointer;
}

.intro-text {
    color: grey;
    padding: 10px;
}

/* ************************/

.long-txt {
    cursor: pointer;
}

.margin {
    margin: 15px;
}